@import "./theme.scss";

.ProductDetails {
  &-wrapper {
    display: flex;
    flex-direction: column;
    background: $formBgColor;
    border: solid 1px $formColor;
    color: $accentFont;
    margin: 0 0px 0px 0;
    padding: $sectionPadding;
    width: 400px;
    flex: $gridWidthEl;
  }

  &-formWrapper {
    display: flex;
    flex-direction: column;
    color: $formColor;
    justify-content: space-between;
    align-items: flex-start;

    &.inline {
      flex-direction: row;
    }

    label,
    input,
    textarea {
      color: $formColor;
    }
  }

  &-Input {
    margin-bottom: 10px;
  }
}
